<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
 
    <!-- 콘솔로그 -->
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d] [%-5p] [%t] [%-30c{10}] (%13F:%L) %3x - %m%n"/>
        </layout>
    </appender>
    
       <!--  날짜별 로그 -->  
    <appender name="dailyRollingFile" class="org.apache.log4j.DailyRollingFileAppender">  
        <!-- 이것은 날짜별로  로그를 남김. 파일명.확장자.DatePattern으로 정의 함-->  
        <param name="file" value="${daemonLogPath.name}/${daemonLogFile.name}.log"/>  
        <param name="Append" value="true"/>  
     	<!-- 
        <param name="maxFileSize" value="10KB" />
        <param name="maxBackupIndex" value="5" />
 		-->


        <param name="DatePattern" value="'.'yyyy-MM-dd"/>  
        <layout class="org.apache.log4j.PatternLayout">  
            <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss}] [%p] [%r] [%C{10}] [%M] [%L]  %m %n"/>  
        </layout>  
    </appender>  
    
    <!-- Application Loggers -->
    <logger name="com.scheduling" >
        <level value="info" />
    </logger>
    
    <!-- Root Logger -->
    <root>
        <priority value="ERROR" />
        <appender-ref ref="console" />
        <appender-ref ref="dailyRollingFile" />
    </root>
    
</log4j:configuration>